.news-cover {
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //filter: blur(1px);
}


// TODO: try to use sticky
.edit-item {
  right: 26px;
  position: fixed;
  bottom: 22px;
}
