<div class="flex">
  <div style="width: 49vw; min-width: 500px;">
    <div style="padding: 0 12px">
      <div class="flex">
        <div class="flex flex-col mr-5">
          <label class="mr-3">
            <ng-container *transloco="let t;">
              {{ t('roomsCount') }}
            </ng-container>
          </label>
          <mat-button-toggle-group
            multiple
            name="roomsCount"
            aria-label="Rooms Count"
            [(ngModel)]="selectedRoomCount"
            (change)="onRoomCountChange($event.value)"
          >
            <mat-button-toggle value="1">1</mat-button-toggle>
            <mat-button-toggle value="2">2</mat-button-toggle>
            <mat-button-toggle value="3">3</mat-button-toggle>
            <mat-button-toggle value="4">4</mat-button-toggle>
            <mat-button-toggle value="5">5</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="mb-5 w-1/4 mr-5">
          <div class="currency-control flex justify-between">
            <div class="mr-2">
              <ng-container *transloco="let t;">
                {{ t('price') }}
              </ng-container>
            </div>
            <nz-radio-group [ngModel]="selectedCurrency" (ngModelChange)="onCurrencyChange($event)">
              <label nz-radio [nzValue]="currencyEnum.UAH">₴</label>
              <label nz-radio [nzValue]="currencyEnum.USD">$</label>
              <label nz-radio [nzValue]="currencyEnum.EUR">€</label>
            </nz-radio-group>
          </div>

          <div>
            <nz-slider
              nzRange
              [nzMin]="priceRange[0]"
              [nzMax]="priceRange[1]"
              (ngModelChange)="onPriceChange($event)"
              [ngModel]="selectedPrice"
            >
            </nz-slider>
          </div>

          <div class="flex justify-between">
            <div>
              <nz-input-number
                class="mr-2"
                nzPlaceHolder="Min Price"
                [nzMin]="priceRange[0]"
                [(ngModel)]="selectedPrice[0]"
                (ngModelChange)="onPriceInputChange()"
              >
              </nz-input-number>
            </div>
            <div class="mr-2 self-center">
              —
            </div>
            <div>
              <nz-input-number
                nzPlaceHolder="Max Price"
                [nzMax]="priceRange[1]"
                [(ngModel)]="selectedPrice[1]"
                (ngModelChange)="onPriceInputChange()"
              >
              </nz-input-number>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <app-web-speech-component (finalContent)="onFinalContent($event)"></app-web-speech-component>
        </div>

        <div>
          <button mat-button color="primary" routerLink="/new">
            <mat-icon class="icon">add</mat-icon>
          </button>
        </div>


      </div>

      <div *ngIf="child?.transcript$ | async">
        <mat-card class="notification mat-elevation-z4">{{child.transcript$ | async}}</mat-card>
      </div>

      <div class="mb-5 mr-4">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ng-container *transloco="let t;">
                  {{ t('moreFilters') }}
                </ng-container>
              </mat-panel-title>
              <!--          <mat-panel-description>-->
              <!--            This is a summary of the content-->
              <!--          </mat-panel-description>-->
            </mat-expansion-panel-header>

            <!--            <div class="mr-6">-->
            <!--              <app-cascader-filter></app-cascader-filter>-->
            <!--            </div>-->

            <div class="flex">

              <div class="mb-5 w-1/4 mr-5">
                <div class="flex justify-between">
                  <ng-container *transloco="let t;">
                    {{ t('area') }}
                  </ng-container>
                </div>

                <nz-slider
                  nzRange
                  [nzMin]="areaRange[0]"
                  [nzMax]="areaRange[1]"
                  (ngModelChange)="onAreaChange($event)"
                  [ngModel]="selectedArea"
                >
                </nz-slider>

                <div class="flex justify-between">
                  <div>
                    <nz-input-number
                      class="mr-2"
                      nzPlaceHolder="Min Price"
                      [nzMin]="areaRange[0]"
                      [(ngModel)]="selectedArea[0]"
                      (ngModelChange)="onAreaInputChange()"
                    >
                    </nz-input-number>
                  </div>
                  <div class="mr-2 self-center">
                    —
                  </div>
                  <div>
                    <nz-input-number
                      nzPlaceHolder="Max Price"
                      [nzMax]="areaRange[1]"
                      [(ngModel)]="selectedArea[1]"
                      (ngModelChange)="onAreaInputChange()"
                    >
                    </nz-input-number>
                  </div>
                </div>
              </div>

              <div class="mb-5 w-1/4 mr-5">
                <div class="mb-8 mr-2">
                  <ng-container *transloco="let t; read: 'sort'">
                    {{ t('title') }}
                  </ng-container>
                  <i nz-icon nzType="sort-descending" nzTheme="outline"></i>
                </div>
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="По умолчанию"
                  [nzDropdownMatchSelectWidth]="false"
                  [(ngModel)]="this.paginationParamsDto.sorting"
                  (ngModelChange)="onSortChange()"
                >
                  <ng-container *ngFor="let option of sortOptions">
                    <nz-option
                      [nzValue]="option.value"
                      [nzLabel]="option.label"
                    >
                    </nz-option>
                  </ng-container>
                </nz-select>
              </div>

              <div class="mb-5 w-1/4 mr-5">
                <div class="mb-8">
                  Район
                </div>

                <!--    <nz-select-->
                <!--      nzPlaceHolder="Выберите район"-->
                <!--      nzAllowClear-->
                <!--      nzShowSearch-->
                <!--      nzServerSearch-->
                <!--      [nzDropdownMatchSelectWidth]="false"-->
                <!--      [(ngModel)]="paginationParamsDto.district"-->
                <!--      (nzOnSearch)="onDistrictSearch($event)"-->
                <!--      (ngModelChange)="onDistrictChange()"-->
                <!--    >-->
                <!--      <ng-container *ngFor="let district of districtList">-->
                <!--        <nz-option *ngIf="!districtIsLoading" [nzValue]="district.id" [nzLabel]="district.name"></nz-option>-->
                <!--      </ng-container>-->
                <!--      <nz-option *ngIf="districtIsLoading" nzDisabled nzCustomContent>-->
                <!--        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...-->
                <!--      </nz-option>-->
                <!--    </nz-select>-->

                <nz-select
                  nzAllowClear
                  nzPlaceHolder="По умолчанию"
                  [nzDropdownMatchSelectWidth]="false"
                  [(ngModel)]="paginationParamsDto.district"
                  (ngModelChange)="onDistrictChange($event)"
                >
                  <ng-container *ngFor="let district of districtList">
                    <nz-option
                      [nzValue]="district.id"
                      [nzLabel]="district.translations[translocoService.getActiveLang()].name"
                    >
                    </nz-option>
                  </ng-container>
                </nz-select>

              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>


    <div class="grid gap-4" style=" height: 73vh; overflow-y: auto;">
      <!--      TODO: fix this do for using auto width-->
      <overlay-scrollbars [options]="{sizeAutoCapable: false}">
        <div style="padding-right: 18px; padding-top: 6px;">
          <div>{{result?.results.length}} {{plural(result?.results.length, 'результат', 'результата', 'результатов')}}</div>

          <nz-spin
            nzSimple
            *ngIf="loading"
            [nzSize]="'large'"
            style="justify-self: center; text-align: center"
          >
          </nz-spin>

          <ng-container
            *ngFor="let listing of result?.results">
            <app-card style="padding: 0 12px" [listing]="listing"></app-card>
          </ng-container>
        </div>
      </overlay-scrollbars>


    </div>


    <!--    <nz-pagination-->
    <!--      class="text-center"-->
    <!--      [nzTotal]="result?.count"-->
    <!--      [nzPageSize]="paginationParamsDto.page_size"-->
    <!--      [nzPageIndex]="paginationParamsDto.page"-->
    <!--      (nzPageIndexChange)="onPageChange($event)"-->
    <!--    >-->
    <!--    </nz-pagination>-->
  </div>

  <div>
    <app-listings-map
      (bounds)="onBoundsChange($event)">
    </app-listings-map>
  </div>
</div>


<!--<button mat-fab class="add-item" color="primary" routerLink="/new">-->
<!--  <mat-icon class="icon">add</mat-icon>-->
<!--</button>-->
