<google-map height="400px"
            width="750px"
            [center]="center"
            (mapMousemove)="move($event)"
            (boundsChanged)="onBoundsChanged($event)"
            (mapRightclick)="removeLastMarker()">
  <map-marker #marker
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>

<div class="text-xl">
  067 234 8877
</div>
