<div class="flex flex-row bg-gray-200">
  <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2 w-2/5">
    <swiper [config]="config">
      <ng-container *ngFor="let image of listing.images">
        <img
          class="object-cover"
          alt=""
          [src]="image.photo"
        >
      </ng-container>
    </swiper>
  </div>
  <div class="text-gray-700 bg-gray-400 px-4 py-2 m-2 w-3/5">
    <div class="text-lg mb-2 text-gray-900">
      {{listing.title}}
    </div>
    <div class="text-gray-600">
      {{listing.address}}
    </div>
    <div>
      {{price}}
    </div>
    <div>
      {{listing.totalArea}} / {{listing.livingArea}} / {{listing.kitchenArea}} м<sup>2</sup>
    </div>
    <div>
      {{listing.description}}
    </div>
  </div>
</div>
