<div
  class="card flex flex-row bg-gray-200 border-2 border-gray-400 border-solid rounded-lg">
  <div class="w-2/5 m-4 mr-1">
    <swiper [config]="config">
      <ng-container *ngFor="let image of listing.images">
        <img
          class="object-cover"
          alt=""
          [src]="image.photo"
        >
      </ng-container>
    </swiper>
  </div>

  <div class="w-3/5 m-4">
    <div class="mb-1 text-lg text-gray-900 ">
      {{listing.title}}
    </div>
    <div class="mb-2 text-gray-600">
      {{listing.address}}
    </div>
    <div class="mb-2 text-xl font-medium text-gray-900">
      {{price}}
    </div>
    <div class="grid grid-cols-2 gap-1 mb-2">
      <div>
        {{listing.totalArea}} / {{listing.livingArea}} / {{listing.kitchenArea}} м<sup>2</sup>
      </div>
      <div>
        {{listing.floor}} поверх з {{listing.floorInHouse}}
      </div>
      <div>
        {{listing.type.type}}
      </div>
      <div>
        {{listing.year}}
      </div>
      <div>
        {{listing.roomsCount}}
      </div>
    </div>
    <p class="truncate-text-multiline">
      {{listing.description}}
    </p>
  </div>
</div>
