<div
  class="card flex flex-row bg-blue-100 border-2 border-blue-200 border-solid rounded-lg">
  <div class="picture m-4 mr-1">
    <gallery
      [id]="listing.id"
      class="gallery"
      gallerize
      thumbPosition="left"
      [thumb]="false"
      [items]="cameraImages"
      [imageSize]="contain"
      [loadingStrategy]="'lazy'"
    >
    </gallery>
  </div>

  <div class="w-3/5 m-4">
    <div class="mb-1 text-lg text-gray-900" [routerLink]="['/listing', listing.id]">
      {{listing.title}}
    </div>
    <div class="mb-2 text-gray-600">
      {{listing.address}}
    </div>
    <div class="mb-2 text-xl font-medium text-gray-900">
      {{price}} ₴
    </div>
    <div class="grid grid-cols-2 gap-1 mb-2">
      <div>
        {{listing.totalArea}} / {{listing.livingArea}} / {{listing.kitchenArea}} м<sup>2</sup>
      </div>
      <div>
        {{listing.floor}} поверх з {{listing.floorInHouse}}
      </div>
      <div>
        {{listing.type.type}}
      </div>
      <div>
        {{listing.year}}
      </div>
      <div>
        {{listing.roomsCount}}
      </div>
    </div>
    <p class="truncate-text-multiline">
      {{listing.description}}
    </p>
    <ng-container *ngIf="!listing.isPublished">
      <p class="">
        Иисточник:
        <a [href]="listing.url">{{listing.source}}</a>
      </p>
      <p class="">
        Дата публикации: {{listing.publicationDate}}
      </p>
    </ng-container>
  </div>
</div>
