<div class="header flex flex-row py-3 px-3">
  <div class="mr-4">
    <img class="w-10" src="assets/icon.png" alt="">
  </div>
  <a class="flex flex-row mr-5 items-center" routerLink="/" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('title') }}
      </ng-container>
    </div>
  </a>

  <a class="flex flex-row mr-5" routerLink="/stat" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('stat') }}
      </ng-container>
    </div>
  </a>

  <a class="flex flex-row mr-5" routerLink="/news" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('news') }}
      </ng-container>
    </div>
  </a>

  <a class="flex flex-row mr-5" routerLink="/about" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('about') }}
      </ng-container>
    </div>
  </a>


  <div class="flex ml-auto">
    <div class="mr-12">
      <nz-select
        nzShowSearch
        nzAllowClear
        [nzDropdownMatchSelectWidth]="false"
        [(ngModel)]="selectedLanguage"
        [nzCustomTemplate]="defaultTemplate"
        (ngModelChange)="onSelectionChange($event)">
        <nz-option
          nzCustomContent
          *ngFor="let language of languages"
          [nzLabel]="language.viewValue"
          [nzValue]="language"
          nzLabel="Windows" nzValue="windows">
          <span class="flag-icon" [ngClass]="['flag-icon-' + language.flag]"></span>
          {{language.viewValue}}
        </nz-option>
      </nz-select>
      <ng-template
        #defaultTemplate
        let-selected>
        <span class="flag-icon" [ngClass]="['flag-icon-' + selected.nzValue.flag]"></span>
        {{selected.nzValue.value}}
      </ng-template>
    </div>

    <div class="mr-5">
      <div nz-dropdown [nzDropdownMenu]="menu">
        <i nz-icon nzType="user" nzTheme="outline" style="font-size: 26px; color: #08c;"></i>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a class="text-base px-4 py-2" routerLink="/database" routerLinkActive="active">
              <ng-container *transloco="let t;">
                {{ t('profile') }}
              </ng-container>
            </a>
          </li>
          <li nz-menu-item>
            <a class="text-base px-4 py-2" routerLink="/database" routerLinkActive="active">
              <ng-container *transloco="let t;">
                {{ t('db') }}
              </ng-container>
            </a>
          </li>
          <li nz-menu-item>
            <a class="text-base px-4 py-2" routerLink="/database" routerLinkActive="active">
              <ng-container *transloco="let t;">
                {{ t('favorites') }}
              </ng-container>
            </a>
          </li>
          <li nz-menu-item nzDanger>
            <a class="text-base px-4 py-2" routerLink="/database" routerLinkActive="active">
              <ng-container *transloco="let t;">
                {{ t('signOut') }}
              </ng-container>
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <!--    <img class="w-32 h-32 rounded-full mx-auto" src="" alt="">-->
  </div>
  <!--    <div class="text-xl">-->
  <!--      067 234 8877-->
  <!--    </div>-->
</div>
