<div class="flex flex-row py-3 px-3">
  <a class="flex flex-row mr-5 items-center" routerLink="/" routerLinkActive="active">
    <div class="mr-4">
      <img class="w-10" src="assets/icon.png" alt="">
    </div>
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('title') }}
      </ng-container>
    </div>
  </a>
  <a class="flex flex-row mr-5" routerLink="/database" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('db') }}
      </ng-container>
    </div>
  </a>
  <a class="flex flex-row mr-5" routerLink="/stat" routerLinkActive="active">
    <div class="self-center text-base">
      <ng-container *transloco="let t;">
        {{ t('stat') }}
      </ng-container>
    </div>
  </a>
  <div class="flex self-center">
    <div>
      <nz-select
        nzShowSearch
        nzAllowClear
        [nzDropdownMatchSelectWidth]="false"
        [(ngModel)]="selectedLanguage"
        [nzCustomTemplate]="defaultTemplate"
        (ngModelChange)="onSelectionChange($event)">
        <nz-option
          nzCustomContent
          *ngFor="let language of languages"
          [nzLabel]="language.viewValue"
          [nzValue]="language"
          nzLabel="Windows" nzValue="windows">
          <span class="flag-icon" [ngClass]="['flag-icon-' + language.flag]"></span>
          {{language.viewValue}}
        </nz-option>
      </nz-select>
      <ng-template
        #defaultTemplate
        let-selected>
        <span class="flag-icon" [ngClass]="['flag-icon-' + selected.nzValue.flag]"></span>
        {{selected.nzValue.value}}
      </ng-template>
    </div>

    <!--    <div class="text-xl">-->
    <!--      067 234 8877-->
    <!--    </div>-->
  </div>
</div>
