<div class="container py-5 w-10/12 px-10 mx-auto">
  <div class="flex mb-12">
    <div class="mr-12">
      <app-map></app-map>
    </div>
    <div>
      <div class="mb-3">
        <div class="font-medium text-3xl text-gray-700">
          ПП СТОЛИЧНА НЕРУХОМІСТЬ
        </div>
        <div class="text-sm text-gray-500">
          заснована 18 вересня 2001 року
        </div>
      </div>
      <div>
        <p class="text-base leading-relaxed text-gray-600">
          Місія : надання професійних послуг в сфері нерухомості Києва та Київської області.
        </p>

        <section class="text-gray-600 body-font">
          <div class="container px-5 py-12 mx-auto">
            <div class="flex flex-wrap -m-4">
              <div class="p-4 lg w-full">
                <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">
                  Надаємо інформаційно - консультаційні послуги
                </h2>
                <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
                  <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                   class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>з продажу та оренди нерухомості
                  </a>
                  <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                   class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>інвестицій в нерухомість
                  </a>
                  <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                   class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>здійснює юридичний супровід операцій з нерухомістю
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </section>


        <p class="text-base leading-relaxed text-gray-600">
          Всі робітники мають Сертифікат спеціаліста з нерухомості підписаний фондом Держмайна.
        </p>
      </div>
    </div>
  </div>

  <div class="text-xl">
    Телефон: 067 234 8877
  </div>
</div>

