@import '~material-bottom-nav';

// TODO: try to use sticky
.add-item {
  right: 26px;
  position: fixed;
  bottom: 22px;
}

.currency-control {
  height: 20px;
}

nz-select {
  width: 100%;
}

.notification {
  margin-right: 16px;
  margin-bottom: 16px;
}

#map {
  background-color: #f6f7fa;
  overflow: hidden;
  position: fixed;
  left: 50%;
  //height: 100%;
  //top: 0;
  //bottom: 0;
  right: 0;
  z-index: 50;
}

.listing {
  width: 49%;
}

.example-viewport {
  height: 76vh;
}

.bottom-nav {
  visibility: hidden;
}

@media screen and (max-width: 1020px) {
  #map {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .listing {
    width: 100%;
  }

  .bottom-nav {
    visibility: visible;
    @include bottom-nav(
      $background-color: #F6F7FA,
      $active-color: #ff9800,
      $inactive-color: #333
    );
  }
}


