<div style="background-color: #f5f6fa">
  <div class="container py-5 w-8/12 px-10 mx-auto">
    <div class="mb-5">
      <div class="mb-5" style="font-size: 18px; font-weight: bold;">
        Найбільш поширена ціна за квадратний метр в новобудовах, грн
      </div>
      <mat-card>
        <div class="m-4">
          <app-chart></app-chart>
        </div>
      </mat-card>
    </div>

    <div class="mb-5">
      <div class="mb-5" style="font-size: 18px; font-weight: bold;">
        Вартість м² нового житла в різних районах
      </div>
      <mat-card>
        <div class="m-4">
          <app-box></app-box>
        </div>
      </mat-card>
    </div>

    <div class="mb-5">
      <mat-card>
        <div class="m-4">
          <app-price-stat></app-price-stat>
        </div>
      </mat-card>
    </div>

    <div class="mb-5">
      <div class="mb-5" style="font-size: 18px; font-weight: bold;">
        Рейтинг районів Києва
      </div>

      <mat-card>
        <div class="m-4">
          <app-stacked-bar-chart></app-stacked-bar-chart>
        </div>
      </mat-card>
    </div>
  </div>

</div>
