<div class="flex">
  <div>
    <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</mat-card>
  </div>

<!--  <div class="mr-5">-->
<!--    <mat-form-field>-->
<!--      <mat-label>Select your language</mat-label>-->
<!--      <mat-select [(value)]="currentLanguage">-->
<!--        <mat-option *ngFor="let language of languages" [value]="language" (click)="selectLanguage(language)">-->
<!--          {{language}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->

  <div class="mr-5">
    <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
    </button>
    <ng-template #mic>
      <button mat-fab (click)="start()">
        <mat-icon>mic</mat-icon>
      </button>
    </ng-template>
  </div>

</div>
