@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "uppy/dist/uppy.css";

@import "ng-zorro-antd/src/ng-zorro-antd.css";
@import "ng-zorro-antd/resizable/style/index.min.css";

@import "spinkit/spinkit.min.css";

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import 'overlayscrollbars/css/OverlayScrollbars.css';

@import "./ant.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.type-filter .ant-cascader-input.ant-input {
  width: 500px;
}

.mat-button-toggle-checked {
  background-color: #feda00;
}
